snippet #*
	#*
	${1:}
	*#
	${2:}
snippet #for
	#foreach(${1:})
		${2:}
	#end
	${3:}
snippet #set
	#set(${1:})
	${2:}
snippet #if
	#if(${1:})
		${2:}
	#end
	${3:}
snippet #elseif
	#elseif(${1:})
	${2:}
snippet #include
	#include("${1:}")
	${2:}
snippet #parse
	#parse("${1:}")
	${2:}
snippet #e
	#end
snippet #cms
	#cmsparse("${1:}")
	${2:}
snippet $str
	$stringUtils.${1:equals}(${2:})
	${3:}
